fastapi
uvicorn[standard]
langchain
openai
pydantic
python-multipart
gunicorn
aiohttp
flask
twilio
openai
openai>=1.0.0
boto3
gTTS
gunicorn
python-dotenv
redis
rq
langchain_community
requests
starlette


